<mat-nav-list class="sidenav-list">
  <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
    <mat-icon>input</mat-icon>
    <span>Signin</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="onToggleClose()">
    <mat-icon>account_circle</mat-icon>
    <span>Signup</span>
  </a>
  <a mat-list-item routerLink="/accomodation" (click)="onToggleClose()">
    <mat-icon>hotel</mat-icon>
    <span>Accomodation</span>
  </a>
  <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
    <mat-icon>loyalty</mat-icon>
    <span>Offers</span>
  </a>
</mat-nav-list>