.container {
  height: 100vh;
  background: url(/assets/images/home_beach.jpg) no-repeat;
}

.book-now-container {
  padding: 35px 115px;
}

.book-now-button {
  width: 170px;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  border-radius: 4px;
}

.header-container {
  height: 100vh;
}



