<div class="hero-container">
  <div class="book-now-container">
    <div fxFlex fxLayoutAlign="flex-end">
      <button class="book-now-button" mat-stroked-button color="primary">
        Book Now
      </button>
    </div>
  </div>
  <div class="header-container" flexbox fxLayout="column"  fxLayoutAlign="center center">
      <h2 class="mat-display-1" color="white">Luxury Beach Front Resort</h2>
      <h1 class="mat-display-4" fxFlex="66" [fxFlex.md]="780">Natai Beach  <br />Resort &amp; Spa</h1>
  </div>

  <div class="thailand" fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
    <h3>Thailand</h3>
  </div>
  
</div>

<section class="home-section">
  <div class="home-section-header">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div>
        <h2 class="mat-subheading-2 dark-secondary-text">Luxury Accomodation In Phanga</h2>
      </div>
      <div>
        <h3 class="mat-subheading-3">Asia's Tropical Paradise</h3>
      </div>
      
      <div>
        <p style="text-align: center;"class="mat-body-1" fxFlex.gt-xs="70" fxFlexOffset.gt-xs="15">
          Situated on the fine golden sands of Natai Beach, Natai Beach Resort & Spa is an exquisite, 106-room resort. A 25-minute drive from Phuket airport, the resort is based on local heritage and traditional Thai culture. It is a perfect vacation haven created to add comfort and relaxation, an ideal place for families and honeymooners.
        </p>
      </div>
      
    </div>
  </div>
  
  <div class="rooms-home-display" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <mat-card class="rooms-suites" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Rooms &amp; Suites</h2>
      </mat-card-header> 
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Explore</button>
      </mat-card-actions>  
    </mat-card>
    <mat-card class="beach-houses" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Beach Houses</h2>
      </mat-card-header> 
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Explore</button>
      </mat-card-actions>  
    </mat-card>

  </div>
  
  
</section>

