<div class="container">
  <div class="book-now-container">
    <div fxFlex fxLayoutAlign="flex-end">
      <button class="book-now-button" mat-stroked-button color="primary">
        Book Now
      </button>
    </div>
  </div>
  <div class="header-container" fxLayout="row" fxLayout="column"  fxLayoutAlign="center center">
    <div>
      <h3 class="mat-subheading-2">
        Luxury Beach Front Resort
      </h3>
      <h1 class="mat-headline">
        Natai Beach Resort &amp; Spa
      </h1>
    </div>
  </div>
</div>